/* mobile first css  */
/* base styles */
body {
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Bitter", "Helvetica Neue", Helvetica, "Roboto", Arial, sans-serif;
  line-height: 1.3;
  margin: 0.5rem 1rem;
}
p {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Bitter", Georgia, "Cambria", "Times New Roman", Times, serif;
  font-size: 2rem;
  text-align: center;
  margin: 0 0.07em 0.7em 0.07em;
  padding: 0rem;
}
h3 {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  padding-bottom: 0;
  padding-left: 20px;
  font-size: 1.15rem;
}
img {
  padding: 1em;
  width: 7rem;
  height: 7rem;
}
ul.lists {
  font-size: 1.1rem;
  line-height: 1.5;
}
p.bold {
  font-size: 1em;
  font-weight: bolder;
  margin-top: 0;
  padding-top: 0;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: .75em;
  font-size: 16px;
  margin: 1em 0;
  white-space: normal!important;
  border-radius: 5px;
  line-height: 1;
}
.button-primary {
  background: #2e8540!important;
  color: white;
}
.button-secondary {
  color: #2e8540;
  border-color: #2e8540;
  background-color: white;
  margin-bottom: 0;
}
.button-primary #id-me, .button-secondary #id-me {
  padding: 0;
  margin: 0 0.4em 0.1em 0;
}
.signin-actions {
  padding: 1em 2em 1em;
  text-align: center;
}
.signin-actions-container {
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    border-image: initial;
    margin: 0px auto;
    margin-bottom: 1.5rem;
}
.signin-actions-container .top-banner {
  text-align: center;
  font-style: italic;
  padding: 0.5em 0px 0.3em 0;
  background: rgb(238, 238, 238);
  font-size: 0.8rem;
}
.signin-actions-container .top-banner #lock-icon {
  height: 0.9rem;
  width: 1rem;
  vertical-align: baseline;
  padding: 0px 0.4em;
}
#id-me {
  height: 1rem;
  width: 2rem;
  vertical-align: middle;
  padding: 0 0.4em;
  margin-bottom: 0.3rem;
}
h2.container-banner {
  font-size: 1rem;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.button-container {
 text-align: center;
}
span.sidelines {
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  width: 100%;
  display: inline-block;
  font-size: 1.15em;
  font-weight: 700;
}
span.sidelines:after, span.sidelines:before {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 2px;
  content: "\A0";
  background-color: #eee;
}
span.sidelines:before {
  margin-left: -52%;
  text-align: right;
}
span.sidelines:after {
  margin-left: 2%;
}
.button-primary:hover {
  background: #036603 !important;
}
.button-secondary:hover {
  color: #033d03;
  border-color: #033d03;
}
.logo-container {
  display: flex;
  justify-content: center;
}
.footer-div {
  font-size: 0.8rem;
  bottom: 0;
  width: 95%;
  margin: 1em 0;
  font-size: 1em;
  padding-left: 0.7rem;
  justify-self: center;
}
.hyperlink-list {
  font-size: 1.1rem;
  margin: 1em 0;
}

.hyperlink-list li{
  list-style-type: none;
  padding: 0.05em;
}

#system-description, #privacy-act {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
  min-width: 15rem;
  margin-left: 1.5rem
}
/* The Privacy Modal (background) */
.privacy-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Privacy Modal Content/Box */
.privacy-modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* The System Description Modal (background) */
.system-desc-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* System Description Modal Content/Box */
.system-desc-modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

@media screen and (min-width: 770px) {
  img {
    width: 9rem;
    height: 9rem;
  }
  h1 {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  body {
    margin-left: 4rem;
  }
  div.grid-container {
    padding-top: 0;
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 2fr;
  }
  .signin-actions-container {
    grid-area: 1 / 1 / 2 / 2;
    align-self: start;
    width: 80%;
    margin-top: 2rem;
  }
  .hyperlink-list {
    grid-area: 2 / 2 / 3 / 3;
    width: 80%;
    line-height: 1.5;
    font-size: 1.1rem;
    justify-self: start !important;
    align-self: start !important;
  }
  .list-grid {
    margin-top: 1.5rem;
    margin-left: 0.5rem;
  }
  .footer-div {
    grid-area: 2 / 1 / 3 / 2;
    line-height: 1.5;
    width: 80%;
  }
}

@media screen and (min-width: 1100px) {
  body {
    margin: 0;
  }
  div.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr;
    grid-template-rows: 2fr 1fr;
  }
  .signin-actions-container {
    grid-area: 1 / 2 / 2 / 3;
    align-self: start !important;
    justify-self: center !important;
    width: 75%;
  }
  .hyperlink-list {
    grid-area: 2 / 3 / 3 / 4;
    width: 80%;
    margin-left: 1.1rem;
    line-height: 1.5;
    font-size: 1.1rem;
    justify-self: start !important;
    align-self: start !important;
  }
  .list-grid {
    grid-area: 1 / 3 / 3 / 4;
    margin-left: 1rem;
  }
  .footer-div {
    grid-area: 2 / 2 / 3 / 3;
    line-height: 1.5;
    width: 75%;
  }
}

@media screen and (min-width: 1300px) {

}

@media screen and (min-width: 1550px) {
  body {
    margin-left: 8rem;
  } 
}
